.ct
{
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}
.dat
{
	display:flex;
	justify-content: center;
	flex-direction: row;
	margin-top:40px;
	margin-bottom:40px;
	width:600px;
	flex-wrap: wrap;
}
.dat>*
{
	margin:10px;
}
.catscore
{
	display: flex;
	justify-content: center;
	flex-direction: row;
	align-items: center;
}
.ady
{
	width:70px;
}
.catscore .x
{
	width:150px;
}
.catscore>*
{
	margin:10px;
}
.section
{
	padding:20px;
	border-radius:15px; 
	border:1px solid black;
	margin:20px;
}
.addedSections
{
	display:flex;
	max-width:60vw;
	justify-content: center;
	flex-wrap: wrap;
}
.ct .duration
{
	width:60px;
}
.time
{
	width:150px;
}
.meta
{
	display: flex;
	justify-content: center;
	flex-direction: row;
	max-width: 40vw;
	flex-wrap: wrap;
	margin:20px;
}
.meta>*
{
	margin:10px;
}
.corques
{
	display: flex;
	flex-direction: column;
	justify-content: column;
}
.corques .x
{
	width:150px;
}