.catcor
{
	display: flex;
	justify-content: center;
	flex-direction: row;
	margin:20px;
}
.catcor>*
{
	margin:10px;
	width:150px;
}
.ops
{
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}
.corr
{
	display: flex;
	justify-content: center;
	flex-direction: row;
}
.corr>*
{
	margin:10px;
}
.corr input
{
	width:50px;
}