.signin
{
    height: 95vh;
    /* background-image:url(../../assets/signin2.jpg); */
    justify-content: center;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
/* .login
{
    background-image:url(https://media.istockphoto.com/photos/the-gray-and-silver-are-light-black-with-white-the-gradient-is-the-picture-id1190757819?b=1&k=6&m=1190757819&s=170667a&w=0&h=zjtlS5WgPHgJm1D4QyHIgsZ1fdxfk7wNY8ONRa8pK6w=);   
    background-repeat: no-repeat;
    background-size: cover;
} */