/* .btnCard
{
	width:250px;
	height:150px;
}
.s1 p
{
	font-size: 40px;
	color:purple;
	margin:10px;
}
.btnCard .s1
{
	border-bottom: 2px solid purple;
}
.s2 p
{
	font-size: 20px;
	color:black;
	margin:10px;	
} */
.facultybtns
{
	display: flex;
	justify-content:center;
	flex-direction: row;
	flex-wrap:wrap;
	margin:30px;
}
.btnCard
{
	display:flex;
	flex-direction: column;
	margin:70px;
	margin-bottom:30px;
	width:200px;
	/* height:270px; */
}
.Info
{
	width:600px;
	display: flex;
	flex-direction:row;
	color:white;
	justify-content:space-around;
	border-radius: 0px 0px 30px 30px;
	background-image: url(../../assets/bgp.jpg);
	/* background-color: #7300c0; */
}
.Info>*
{
	margin:20px;
}
.name>*
{
	margin:20px;
}
.name
{
	display:flex;
	flex-direction: row;
	align-items: center;
}
.ID p 
{
	font-size:20px;
}
.ID .name
{
	font-size:40px;
}
.Image img
{
	width: 150px;
	height:150px;
	border-radius: 100%;
	border:2px solid black;
}
.clipart img
{
	width:150px;
	height:150px;
	border-radius: 0px;
	margin:10px;
}
.title>*
{
	font-size:25px;
	color:purple;
	text-decoration: none;
	display: inline-block;
}
/* .outer {
	margin: 50px;
	display: flex;
	width:200px;
	flex-direction: row;
  }
  
  .button {
	display: block;
  
	background: linear-gradient(to right, purple 50%, white 50%);
	background-size: 200% 100%;
	background-position: right bottom;
	transition: all .5s ease-out;
  }
  
  .button:hover {
	background-position: left bottom;
  }
  
  .text {
	text-align: center;
	font-size: 16px;
	line-height: 30px; 
	color: black;
	transition: all .2s ease-out;
	display: block;
  }
  
  .text:hover {
	color: white;  
  }
  .outer .s1
  {
	  width:150px;
  } */