.attemptTest>*
{
	margin:20px;
}
.attemptTest
{
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}
.submit
{
	width:150px;
	align-self: center;
}
.timer
{
	display: flex;
	justify-content:flex-start;
	flex-direction:row;
	border:black solid 1px;
	width:90px;
	position:fixed;
	margin:20px;
	bottom:0;
}
.answerBody
{
	width:300px;
}
.qa{
	max-width: 700px;
}
.subQues
{

}
.attemptqa
{
	width:1000px;
	border-bottom:3px dashed purple;;
}
.file
{
	width:400px;
}